<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gl.giskaland" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Upphafsglugginn"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>
        <activity
            android:name=".FirstLevel"
            android:label="@string/title_activity_four_year"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".SecondLevel"
            android:label="@string/title_activity_second_level"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ThirdLevel"
            android:label="@string/title_activity_third_level"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MathLevel1"
            android:label="@string/title_activity_math_level_1"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MathLevel2"
            android:label="@string/title_activity_math__level_2"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MathLevel3"
            android:label="@string/title_activity_math__level_3"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".SpellingGame"
            android:label="@string/title_activity_spelling_level_1"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Spelling_level_2"
            android:label="@string/title_activity_spelling_level_2"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Spelling_level_3"
            android:label="@string/title_activity_spelling_level_3"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".QuizLevel2"
            android:label="@string/title_activity_quiz__level_2"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".QuizLevel3"
            android:label="@string/title_activity_quiz__level_3"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".TestDbManager"
            android:label="@string/title_activity_test_db_manager" >
        </activity>
    </application>

</manifest>
